<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    </head>

    <body>
        <div id="title_bar">
            <h1>Download Page</h1>
            <a href="{{ url_for('refresh') }}" id="refresh_btn"><button>Refresh</button></a>
        </div>

        <!-- flash msg -->
        {% if get_flashed_messages() %}
        <hr />
            {% for message in get_flashed_messages() %}
            <h3 style="color: red;">{{ message }}</h3>
            {% endfor %}
        <hr />
        <br />
        {% endif %}

        <hr />
            <ul id="file_content">
                {% for file in files %}
                <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        <hr />
    </body>
</html>
